 <!-- About Section -->
    <section class="success" id="o-proizvodu">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O Proizvodu</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p>
                    	• TidyBin je mini podzemni kontejner namenjen sakupljanje opušaka i žvakaćih guma sa javnih
                    površina.
                  </p>
                </div>
                <div class="col-lg-4">
                  <p> 	• Idealan je za postavljanje ispred javnih ojekata, hiper marketa, ugostiteljskih objekata,
                    u parkovima, na šetalištima</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                  <p> 	• Idealan je za postavljanje ispred javnih ojekata, hiper marketa, ugostiteljskih objekata,
                      u parkovima, na šetalištima</p>
                </div>
                <div class="col-lg-4">
                  <p> 	• Idealan je za postavljanje ispred javnih ojekata, hiper marketa, ugostiteljskih objekata,
                    u parkovima, na šetalištima</p>
                </div>
            </div>
        </div>
    </section>
