 <!-- About Section -->
    <section class="success" id="o-proizvodu">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O Proizvodu</h2>
                    <hr class="star-light">
                    <p>
                     TidyBin je mini podzemni kontejner namenjen za sakupljanje opušaka i žvakaćih
                    guma sa javnih površina. <br><br>
                  </p>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <h4>Namena</h4>
              </div>
              <div class="col-lg-4 col-lg-offset-2">
                <p>
                  • Lako se ugrađuje u zemlju ili na već pripremljeno postolje.
                </p>
              </div>
              <div class="col-lg-4">
                <p> 	• Idealan je za postavljanje ispred javnih ojekata, hiper marketa, ugostiteljskih objekata,
                  u parkovima, na šetalištima.</p>
              </div>
              <div class="col-lg-4 col-lg-offset-2">
                <p> 	• Zahvaljujući reklamnoj tabli služi i kao komunikaciono sredstvo (mini bilbord).

                </p>
              </div>
              <div class="col-lg-4">
                <p> 	• Vlasnike postavljenih mini kontejnera predstavlja kao društveno odgovorne i posvećene čistijem okruženju.

                </p>
              </div>
              <div class="col-lg-12 text-center">
                <h4>Karakteristike</h4>
              </div>
                <div class="col-lg-4 col-lg-offset-2">
                  <p>
                    Sastoji se od četiri dela:
                    <ul>
                      <li>Spoljašnjeg okvira</li>
                      <li>Unutrašnje kante</li>
                      <li>Rešetke sa bravicom</li>
                      <li>Reklamne table</li>
                    </ul>
                </p>
              </div>
              <div class="col-lg-4">
                <p>
                  <ul>
                      <li>Dimenzije: 30x30x16 cm</li>
                      <li>Materijal: čelični lim 2mm</li>
                      <li>Zaštita: toplo cinkovan</li>
                    </ul>
                </p>

              </div>
            </div>
        </div>
    </section>
