 <!-- About Section -->
    <section class="success" id="o-proizvodu">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O Proizvodu</h2>
                    <hr class="star-light">
                    <p>
                     TidyBin je mini podzemni kontejner namenjen za sakupljanje opušaka i žvakaćih
                    guma sa javnih površina. <br><br>
                  </p>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <h3>Namena</h3>
              </div>
              <div class="col-lg-4 col-lg-offset-2">
                  <p>
                    • Lako se ugrađuje u zemlju ili na već pripremljeno postolje.
                  </p>
              </div>
              <div class="col-lg-4">
                  <p>
                    • Idealan je za postavljanje ispred javnih ojekata, hiper marketa, ugostiteljskih objekata,
                    u parkovima, na šetalištima.
                  </p>
              </div>
              <div class="col-lg-4 col-lg-offset-2">
                <p>
                  • Zahvaljujući reklamnoj tabli služi i kao komunikaciono sredstvo (mini bilbord).
                </p>
              </div>
              <div class="col-lg-4">
                <p>
                  • Vlasnike postavljenih mini kontejnera predstavlja kao društveno odgovorne i posvećene čistijem okruženju.
                </p>
              </div>
              <div class="col-lg-12 text-center">
                <h3>Karakteristike</h3>
              </div>
              <div class="col-lg-4 col-lg-offset-2">
                <div class="centerBlock">
                  <p>
                    Sastoji se od četiri dela:
                    <ul class="karakteristike-li">
                      <li>Spoljašnjeg okvira</li>
                      <li>Unutrašnje kante</li>
                      <li>Rešetke sa bravicom</li>
                      <li>Reklamne table</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="col-lg-4 ">
                <div class="centerBlock">
                  <p>
                    <ul class="karakteristike-li">
                      <li>Dimenzije: 30x30x16 cm</li>
                      <li>Materijal: čelični lim 2mm</li>
                      <li>Zaštita: toplo cinkovan</li>
                    </ul>
                  </p>
             </div>
              </div>
              <div class="col-lg-12 text-center">
                <h4>Aktuelno!</h4>
                <p>
                  Vlada Republike Srbije je najavila izmene zakona o zaštiti stanovništva od izloženosti
                  duvanskom dimu. (sl. glasnik RS 30/2010) kojim će se još više pooštriti zabrana pušenja u
                  zatvorenom prostoru, faktički zabrana će se odnositi i na sve ugostiteljske objekte kao i
                  na mnogo strožiju kontrolu primene zakona.
                </p>
              </div>
            </div>
        </div>
    </section>
